
html {
    font-size: 16px;
    }
    
    .section1 {
    background-color: #222;
    text-align: center;
    padding: 20px;
    margin: 10px;
    line-height: 3;
    list-style: none;
    }
    
    .pic {
    text-align: left;
    }
    
    .image1 {
    background-color: #c78c06;
    text-align: center;
    background-position: 0px;
    padding-left: 20px;
    }
    
    nav ul li {
    list-style: none;
    color: #c78c06;
    padding: 20px;
    }
    
    nav ul li a{
    color: black;
    text-decoration: none;
    padding: 100px;
    }
    
    #search{
    margin-bottom: 15px;
    width: 80%;
    }
    
    .section2 {
    background-image: url(../images/main-banner.jpg);
    padding: 100px;
    }
    
    h1{
    color: white;
    }
    
    .box{
    color: #c78c06;
    display: block;
    }
    
    .section3{
    background-color: #ffe6ac;
    padding-top: 20px;
    margin-top: 20px;
    width: 600px;
    }
    
    .h{
    color: black;
    }
    
    .section4 {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    }
    
    .heading4{
    background-color: #ffe6ac;
    padding-top: 20px;
    flex-basis: 100%;
    }
    
    .box2{
    background-color:black;
    color: aliceblue;
    width: 250px;
    height: 80px;
    text-align:center;
    padding-top: 40px;
    margin-bottom: 20px;
    }
    
    .heading5{
    background-color: #ffe6ac;
    padding-top: 20px;
    flex-basis: 100%;
    }
    
    .box3{
    background-color:black;
    color: aliceblue;
    width: 250px;
    height: 80px;
    text-align:center;
    padding-top: 40px;
    margin-bottom: 20px;
    }
    
    .heading6{
    background-color: #ffe6ac;
    padding-top: 20px;
    flex-basis: 100%;
    }
    
    .box4{
    background-color:black;
    color: aliceblue;
    width: 250px;
    height: 80px;
    text-align:center;
    padding-top: 40px;
    margin-bottom: 20px;
    }
    
    .heading7{
    background-color: #ffe6ac;
    padding-top: 20px;
    flex-basis: 100%;
    }
    
    .box5{
    background-color:black;
    color: aliceblue;
    width: 250px;
    height: 80px;
    text-align:center;
    padding-top: 40px;
    margin-bottom: 20px;
    }
    
    .heading8{
    background-color: #ffe6ac;
    padding-top: 20px;
    flex-basis: 100%;
    }
    
    .heading9{
        padding: 20px;
        flex-basis: 100%;
        }
    
    .heading11{
        background-color: #ffe6ac;
        padding-top: 20px;
        flex-basis: 100%;
        }
    
    .heading12{
    background-color: #ffe6ac;
    padding-top: 20px;
    flex-basis: 100%;
    }
    
    .box6{
    background-color:black;
    color: aliceblue;
    width: 250px;
    height: 80px;
    text-align:center;
    padding-top: 40px;
    }
    
    .box7{
        background-color:black;
        color: aliceblue;
        width: 250px;
        height: 80px;
        text-align:center;
        padding-top: 40px;
        margin-bottom: 20px;
    }
    
    /* Media queries for mobile view */
    @media only screen and (max-width: 720px) {
    }
    